@import "../css/reset.css";
@import url("http:fonts.googleapis.com/earlyaccess/nanumpenscript.css");

#portfolio {
  position: relative;
  //   transform: translate(0, 0);
  margin: 0 auto;

  z-index: 6;
}

// header
.container {
  position: relative;
  border: 1px solid black;
  width: 1200px;
  margin: 0 auto;
  .row {
    padding: 0 16px;
  }
}

.header {
  h1 {
    float: left;
    background-color: burlywood;
    padding-bottom: 80px;
    strong {
      font-family: "Nanum Pen Script", cursive;
      display: block;
      position: absolute;
      left: 30px;
      top: 14px;
      font-size: 50px;
    }
  }

  .nav {
    float: right;
    padding-top: 12px;
    li {
      float: left;
      width: 50px;
      text-align: center;
    }
  }
}

// banner

.banner_text {
  border: 1px solid black;
  height: 400px;
  text-align: center;

  .banner_text_box {
    padding: 100px 0;
    h3 {
      font-family: "Nanum Pen Script", cursive;
      font-size: 48px;
    }

    a {
      font-family: "Nanum Pen Script", cursive;
      font-size: 36px;
    }

    .banner_text_icon {
      ul {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        li {
          margin: 0 15px;
          position: relative;
          background-color: green;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          color: #fff;
          font-size: 35px;
          line-height: 60px;
          transition: all 0.3s ease;

          span {
            position: absolute;
            left: 50%;
            top: -40px;
            transform: translateX(-50%);
            font-size: 12px;
            line-height: 1.6;
            background: green;
            padding: 3px 9px;
            border-radius: 6px 0;
            opacity: 0;
            transition: all 0.3s ease;
          }

          span::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -5px;
            margin-left: -5px;
            /* 아이콘 말풍선 밑에 아래방향으로 삼각형 */
            border-top: 5px solid green;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
          }
        }
        li:hover {
          box-shadow: 0 0 0 3px rgba(73, 148, 24, 0.9) inset,
            0 0 0 100px rgba(0, 0, 0, 0.1) inset;
          span {
            opacity: 1;
            top: -33px;
          }
        }
      }
    }
  }
}

// front section
.front {
  display: flex;
  margin: 50px 0;

  .front_news {
    width: 300px;
    height: 500px;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      em {
        background: rgba(0, 0, 0, 0.77);
        color: #fff;
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: block;
        position: relative;
        left: 0;
        bottom: 0px;
        opacity: 1; // ?
        transition: all 0.3s ease; // ?
      }
    }

    a:hover {
      em {
        bottom: 30px;
        background: rgba(0, 0, 0, 0.57);
      }

      img {
        filter: blur(4px);
      }
    }
  }

  .front_todo {
    width: 300px;
    height: 500px;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      em {
        background: rgba(0, 0, 0, 0.77);
        color: #fff;
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: block;
        position: relative;
        left: 0;
        bottom: 0px;
        opacity: 1; // ?
        transition: all 0.3s ease; // ?
      }
    }

    a:hover {
      em {
        bottom: 30px;
        background: rgba(0, 0, 0, 0.57);
      }

      img {
        filter: blur(4px);
      }
    }
  }

  .front_weather {
    width: 300px;
    height: 500px;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      em {
        background: rgba(0, 0, 0, 0.77);
        color: #fff;
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: block;
        position: relative;
        left: 0;
        bottom: 0px;
        opacity: 1; // ?
        transition: all 0.3s ease; // ?
      }
    }

    a:hover {
      em {
        bottom: 30px;
        background: rgba(0, 0, 0, 0.57);
      }

      img {
        filter: blur(4px);
      }
    }
  }

  .front_login {
    width: 300px;
    height: 500px;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      em {
        background: rgba(0, 0, 0, 0.77);
        color: #fff;
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: block;
        position: relative;
        left: 0;
        bottom: 0px;
        opacity: 1; // ?
        transition: all 0.3s ease; // ?
      }
    }

    a:hover {
      em {
        bottom: 30px;
        background: rgba(0, 0, 0, 0.57);
      }

      img {
        filter: blur(4px);
      }
    }
  }
}

// server section
.back {
  height: 400px;
  border: 1px solid black;
  display: flex;
  margin: 50px 0 50px 0;
  .server {
    width: 50%;
    border: 1px solid black;
  }

  .database {
    width: 50%;
    border: 1px solid black;
  }
}

// footer
.footer {
  height: 100px;
  border: 1px solid black;
}
